body {
    font-family: 'Roboto', sans-serif;
    background: url('jaguar-xe.jpg') no-repeat fixed center;
    background-size: cover;
}

@media (min-width: 600px) {
        .cuadro {
            width: 600px;
        }
  }


.cuadro {
    position: absolute;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: contain;
    top: 100px;
    left: 80px;
    margin-right: 30px;
    border-radius: 10px;
}

.cuadro h2 {
    color:white;
    margin-left: 20px;
}

.cuadro p{
    color: white;
    margin-left: 20px;
}

.cuadro button{
    background-color: #DB3030;
    color: white;
    margin-left: 20px;
    border: #DB3030;
    padding: 10px 30px;
    margin-bottom: 15px;
}